body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #16262E;
}

h1{
    color: white;
    margin-top: 100px;
    font-size: 40px;
    letter-spacing: 2.5px;
    position: relative;
}

h1::after{
    content: "";
    width: 60%;
    height: 4px;
    background: #3C7A89;
    display: block;
    margin: 12px auto 0;
    border-radius: 2px;
}

.body_section{
    height: 250px;
    width: 700px;
    background-color: #9FA2B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border: 5px solid #3C7A89;
    border-radius: 50px;
}
.temp_ConverBox,
.inputBox ,
.btn{
    display: flex;
    gap: 25px;
    margin-top: 25px;
    
}
.control,
.result {
    height: 40px;
    width: 180px;
    padding: 8px 12px;

    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;

    color: black;
    background-color: #3C7A89;
    border: 4px solid black;
    border-radius: 10px;

    box-sizing: border-box;
}

input::placeholder{
    color: #333;
    opacity: 1;
}
input:focus,select:focus{
    outline:none;
}

select {
    appearance: none;
    padding-right: 25px;
}
button:hover{
    transform: scale(1.15);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

 .result {
    width: auto;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #2E5266, #3C7A89);
    color: black;
    margin-top: 20px;
} 

.error {
    color: black;
    font-size: 14px;
}

.result p,
.answer {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.input {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}
